<ion-content>
  <topo-login title="Criar conta"></topo-login>

  <form [formGroup]="loginForm" (submit)="createUser()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="name" type="text" placeholder="Nome" autofocus></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="sname" type="text" placeholder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail" autofocus></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="confirm_pass" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" fill="clear" color="if">Enviar</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>